<div class="container">
  <div class="container">
<h2 style="margin-left: 50px; margin-top: 30px;">About US</h2>
      <img src="../../assets/m2.jpg" alt="" height="500px" width="1200px" style="margin-left: 20px; margin-top: 20px;" >
      <br><br><br><br><br>
      <b><h3 style="margin-left:500px;"> Constant Innovation</h3></b>
       <div style="margin-left:500px;" > As a company, we are dedicated to constant innovation to enhance
          everyone's experience with Mobile Fun, and it's thanks to that that we now
          offer over 140,000 customer product reviews, and have ensured the continuous
          development of our website to offer features based on customer feedback.</div><br>

          <div style="margin-left:500px;" >Thanks to Mobile Fun's excellent relationship with our suppliers, we are able to offer our customers an unparalleled product range of over 10,000 accessories and gadgets for the latest devices.</div><br>

          <div style="margin-left:500px;" > Our dedicated and proactive team of product experts ensure that we're consistently able offer the the latest and best accessories for the most popular devices. Choose from protective cases and covers, chargers, docks, screen protectors, and more. All come with a 30 day money back guarantee and a one year warranty - so you're ensured of absolute peace of mind following your purchase!</div><br>


  </div>
  <div><img src="../../assets/about.jpg" alt="" height="330px" width="400px" style="margin-left: 70px; margin-top: -300px;" ></div>
  <br><br><br><br><br>
  <b><h3 style="margin-left:70px;"> Success & Innovation</h3></b>
  <div style="margin-left:70px; width:500px;"  > We've put our continued success down to knowing to what consumers and businesses need, and having an extensive range of the best
     accessories for the latest devices — both tied together with our
     world-class customer service.
    <br>
      Jay khimaj mobile shop is committed to providing excellent customer service and we aim to provide accurate and useful product advice
      to customers through our website.

      </div><br>

      <div><img src="../../assets/success.jpg" alt="" height="250px" width="580px" style="margin-left: 570px; margin-top: -150px;" ></div>
      <br><br><br><br><br>
      <div style=" height:200px; width:200px;">
          <b><h3 style="margin-left:50px; margin-top:-30px;"> Shop</h3></b><br>
          <div style="margin-left:50px; margin-top:-30px; height:30px; width:230px;">
            <br>
              Shop no. B-110,B-Block,1st Floor,<br>
              City Center, Mobile Market,<br>
              Hubtown, New S.T. Stand,<br>
              GeetaMandir, Ahmedabad.
          </div>
          <div style=" height:200px; width:200px;">
              <b><h3 style="margin-left:500px; margin-top:-60px;"> Company Information</h3></b><br><br><br>
              <div style="margin-left:500px; margin-top:-60px; height:300px; width:400px;">
                Mobile Fun Limited is a VAT registered business,
                VAT No 747 9375 77. VAT is charged on all
                 goods sold at the standard UK rate of 20% and is included in all prices.
                The Mobile Fun website is owned and operated by Mobile Fun Limited,
                 incorporated under the laws of England and Wales (Registered No. 3914470).


              </div>

        </div>
        <br><br><br><br>

</div>
